<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viptext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,181},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,64},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,33},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>viptext_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,138},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,126},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,95},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,95},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>viptext_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vipsmall.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e071142fc90c529afb096a8dc5dff846$</string>
            <key>textureFileName</key>
            <string>vipsmall.png</string>
        </dict>
    </dict>
</plist>
